.spin-animation .dot {
    animation: bounce 1.4s infinite ease-in-out both;
}

.spin-animation .dot:nth-child(1) {
    animation-delay: -0.32s;
}

.spin-animation .dot:nth-child(2) {
    animation-delay: -0.16s;
}

.spin-animation .dot:nth-child(3) {
    animation-delay: 0s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
        opacity: 0.3;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}
